{% extends "layout-admin.njk" %}
{% block content %}
    <form action="" method="POST" id="form-edit">
        <h2>Editando receita</h2>
            {% include "fields.njk" %}
        </div>
    </form>
    <script>
        function addIngredient(){
            const ingredients = document.querySelector('#ingredients')
            const fieldContainer = document.querySelectorAll(".ingredient")
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true)

            if(newField.children[0].value == ""){
                return false
            }

            newField.children[0].value = ""
            
            ingredients.appendChild(newField)
        }

        function addPreparation(){
            const preparations = document.querySelector('#preparations')
            const fieldContainer = document.querySelectorAll(".preparation")
            const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true)

            if(newField.children[0].value == ""){
                return false
            }

            newField.children[0].value = ""

            preparations.appendChild(newField)
        }
    </script>
{% endblock %}