{% extends "layout.njk" %}

{% block content %}
    <h2>Gerenciar receitas</h2>
    <div class="gerenciar-receitas">
        {% for receita in receitas %}
        <div class="card">
            <section class="img-gerenciar-receitas">
                <img src="{{receita.image}}">
            </section>
            <section class="detalhes-gerenciar-receitas">
                <div class="item">
                    <div>
                        {{receita.title}}
                    </div>
                    <div>
                        por {{receita.author}}
                    </div>
                    <div>
                        <a href="receitas/{{receita.id}}">Visualizar</a>
                    </div>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
{% endblock %}