
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 70%;
    margin: 0px auto;
}

header .logo-foodfy{
    position: relative;
    top: 8px;
    margin-right: 8%;
}

header{
    padding-bottom: 10px;
    margin-top: 3%;
}

header a{
    font-size: 16px;
    text-decoration: none;
    color: #111111;
    margin: 3% 2%;
    line-height: 10%;
}

.container{
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: #FBDFDB;
    border-radius: 7%;
    padding: 12% 10%;
    position: relative;
}

.container-sobre{
    margin-top: 5%;
    max-width: 95%;
}

.container-sobre h2{
    margin-bottom: 2%;
}

.container-sobre p{
    font-size: 18px;
    color: rgba(1, 1, 1, 70%);
    line-height: 24px;
    margin: 3% 0;
    text-align: justify;
}

.container h1{
    margin-top: 1%;
    max-width: 43%;
}

.container p{
    max-width: 43%;
    margin-top: 3%;
    font-size: 18px;
    color: rgba(1, 1, 1, 70%);
    line-height: 28px;
}

.container img{
    position: absolute;
    bottom: 0;
    right: 10%;
}

.receitas-mais-acessadas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 3%;
    margin-bottom: 7%;
}

.receitas img{
    width: 100%;
    border-radius: 7%;
}

.receitas .info{
    font-size: 18px;
    line-height: 21px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.receitas .autor{
    font-size: 14px;
    line-height: 16px;
    color: rgba(1, 1, 1, 70%);
}

footer{
    text-align: center;
    background-color: #EEEEEE;
    padding: 1.5% 0;
    font-size: 14px;
    color: #999999;
}

.modal{
    border: 1px solid black;
    border-radius: 7%;
    position: fixed;
    top: 0;
    width: 50%;
    height: 60%;
    margin: 7% 10%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.modal .close-modal{
    top: 4px;
    right: 15px;
    cursor: pointer;
    position: absolute;
}
