{% extends 'layout.njk' %}
{% block content %}
    <div class="detalhes_receita">
        <img src="{{receita.image}}" alt="Imagem do {{receita.image}}">
        <h1>{{receita.title}}</h1>
        <p>{{receita.author}}</p>
    </div>
    <div class="conteudo_receita">
        <h2>Igredientes</h2>
        <ul>
            {% for igrediente in receita.ingredients %}
            <li>{{igrediente}}</li>
            {% endfor %}
        </ul>
        <h2>Modo de Preparo</h2>
        {% for preparo in receita.preparation %}
        <p>{{preparo}}</p>
        {% endfor %}
        <h2>Informações Adicionais</h2>
        <p>{{receita.information}}</p>
    </div>
{% endblock %}