<div class="item">
    <div>Imagem da receita</div>
    <input type="url" name="image" placeholder="http://" value="{{receita.image}}">
</div>

<div class="item">
    <div>Título da Receita</div>
    <input type="text" name="title" placeholder="Digite o nome da receita" value="{{receita.title}}"> 
</div>

<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        {% for ingredient in receita.ingredients %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" placeholder="Digite o ingrediente" value="{{ingredient}}"> 
            </div> 
        {% endfor %}
    </div>
    <button type="button" class="add-ingredient" onclick="addIngredient()">Adicionar novo ingrediente</button>
</div>

<div class="item">
    <div>Modo de Preparo</div>
    <div id="preparations">
        {% for preparation in receita.preparation %}
            <div class="preparation">
                <input type="text" name="preparation[]" placeholder="Digite o modo de preparo" value="{{preparation}}">
            </div>
        {% endfor %}
    </div>
    <button type="button" class="add-preparation" onclick="addPreparation()">Adicionar novo passo</button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <textarea class="information" name="information" placeholder="Digite as informações adicionais" autocomplete>
        {{receita.information}}
    </textarea>
</div>


