{% extends "layout.njk" %}

        {% block content %}
        <div class="container">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais
               do mundo inteiro
            </p>
            <img src="img/chef.png" alt="">
        </div>
        <h2>Mais acessadas</h2>
        <div class="receitas-mais-acessadas">
            {% for receita in dados %}
            <section class="receitas" id="{{receita.id}}">
                <a href="/receitas/{{dados.indexOf(receita)}}" target="_blank"><img src="{{receita.image}}" alt="imagem do {{receita.title}}"></a>
                <p class="info">{{receita.title}}</p>
                <p class="autor">por {{receita.author}}</p>
            </section>
            {% endfor %}
        </div>
    </main>
    {% endblock %}