{% extends 'layout.njk' %}
        {% block content %}
        <div class="receitas-mais-acessadas">
            {% for receita in dados %}
            <section class="receitas">
                <img src="{{receita.image}}" alt="imagem de {{receita.title}}">
                <p class="info">{{receita.title}}</p>
                <p class="autor">por {{receita.author}}</p>
            </section>
            {% endfor %}
            {% for receita in dados %}
            <section class="receitas">
                <img src="{{receita.image}}" alt="imagem de {{receita.title}}">
                <p class="info">{{receita.title}}</p>
                <p class="autor">por {{receita.author}}</p>
            </section>
            {% endfor %}
        </div>
    </main>
    <div class="modal-background">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons"> close</i>
            </a>
            <div class="modal-content">
                <img src="" alt="">
                <p class="info"></p>
                <p class="autor"></p>
            </div>
        </div>
    </div> 
    {% endblock %}