{% extends 'components/layout-admin.njk' %}
{% block content %}
    <div class="content-header">
        <h2>Criando chef</h2>
        <button form="form-create" type="submit" class="button">Salvar chef</button>
    </div>

    <form action="/admin/chefs" method="post" id="form-create" enctype="multipart/form-data">
        <div>
            {% include "admin/chefs/fields.njk" %}
        </div>
    </form>
    
{% endblock content %}