{% extends 'layout-admin.njk' %}
{% block content %}
    <form action="/admin/chefs" method="post" id="form-create">
        <div class="content-header">
            <h2>Criando Chefe</h2>
            <button type="submit" class="button">Salvar chef</button>
        </div>

        <div>
            {% include "admin/chefs/fields.njk" %}
        </div>
    </form>
    
{% endblock content %}