{% extends 'layout-admin.njk' %}
{% block content %}
    <div class="content-header">
        <h2>Criando Chef</h2>
        <button type="submit" class="button">Salvar chef</button>
    </div>
    <form action="/admin/chefs" method="post" id="form-create">
        <div>
            {% include "admin/chefs/fields.njk" %}
        </div>
    </form>
    
{% endblock content %}