<fieldset>

    <div class="item">
        <label for="name">Nome</label>
        <input value="{{chef.name}}" type="text" name="name" placeholder="Digite o nome do chef" required>
    </div>

    <div class="item">
        <label for="avatar" >Avatar URL</label>
            <label id="photo-upload" for="photo_chef" class="button">
                <input type="file" 
                   name="photo_chef" 
                   id="photo_chef"
                   accept="image/*"
                   required
                   onchange = "PhotoChef.change(event)"
                   >
                Enviar avatar
            </label> 
    </div>
    
    <input type="hidden" name="id" value="{{chef.id}}">
    <input type="hidden" name="file_id" value="{{chef.file_id}}">
</fieldset>
