{% extends 'layout-admin.njk' %}
{% block content %}
    <h2>Gerenciar chefs</h2>
    <div class="cards">
        <div class="card-refact">
            <section class="card-img-chef">
                <img src="" alt="">
            </section>
            <section class="card-details">
                <div>
                    Julia Kinoto
                </div>
                <div>
                    Salvar
                </div>
            </section>
        </div>

        <div class="card-refact">
            <section class="card-img-chef">
                <img src="" alt="">
            </section>
            <section class="card-details">
                <div>
                    Julia Kinoto
                </div>
                <div>
                    Salvar
                </div>
            </section>
        </div>

    </div>
{% endblock content %}