{% extends 'layout-admin.njk' %}
{% block content %}
    <div class='content-header'>
        <h2>Gerenciar chefs</h2>
        <a href="chefs/create" class="button">Novo Chef</a>
    </div>

    <div class="cards cards-chefs">
        {% for chef in chefs %}
        
        <div class="card">
            <section class="card-img-chef">
                <img src="{{chef.avatar_url}}" alt="">
            </section>
            <section class="card-details">
                <div>
                    {{chef.name}}
                </div>
                <div>
                    <a href="chefs/{{chef.id}}">Visualizar</a>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
{% endblock content %}