
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body, textarea{
    font-family: 'Roboto', sans-serif;
}

/*
main{
    max-width: 70%;
    margin: 0px auto;
}*/

.navegacao, .container{
    width: 70%;
    margin: 0px auto;
    box-sizing: unset;
}

.navegacao{
    padding: 20px;
}

.container{
    margin-top: 50px
}

/*
.navegacao .logo-foodfy{
    position: relative;
    top: 8px;
}
*/

.navegacao a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    line-height: 10%;
}

header{
    background-color: black;
}

.mudar{
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: #FBDFDB;
    border-radius: 7%;
    padding: 12% 10%;
    position: relative;
}

.mudar-sobre{
    margin-top: 5%;
    max-width: 95%;
}

.mudar-sobre h2{
    margin-bottom: 2%;
}

.mudar-sobre p{
    font-size: 18px;
    color: rgba(1, 1, 1, 70%);
    line-height: 24px;
    margin: 3% 0;
    text-align: justify;
}

.mudar h1{
    margin-top: 1%;
    max-width: 43%;
}

.mudar p{
    max-width: 43%;
    margin-top: 3%;
    font-size: 18px;
    color: rgba(1, 1, 1, 70%);
    line-height: 28px;
}

.mudar img{
    position: absolute;
    bottom: 0;
    right: 10%;
}

.receitas-mais-acessadas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 3%;
    margin-bottom: 7%;
}

.receitas img{
    width: 100%;
    border-radius: 7%;
}

.receitas .info{
    font-size: 18px;
    line-height: 21px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.receitas .autor{
    font-size: 14px;
    line-height: 16px;
    color: rgba(1, 1, 1, 70%);
}

footer{
    text-align: center;
    background-color: #EEEEEE;
    padding: 1.5% 0;
    font-size: 14px;
    color: #999999;
}

.detalhes_receita{
    margin-top: 8%;
    text-align: center;
}

.detalhes_receita img{
    border-radius: 5%;
    width: 100%;
    height: 350px;
    margin-bottom: 7%;
}

.detalhes_receita p{
    font-size: 20px;
    color: #777777;
    line-height: 24px;
    margin-top: 1%;
}
.conteudo_receita{
    margin-top: 5%;
}

.conteudo_receita h2{
    font-size: 25px;
    margin: 5% 0;
    display: inline-block;
}

/*
span{
    margin-left: 2%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}
*/

.conteudo_receita li{
    margin-left: 15px;
    line-height: 38px;
    color: #444444;
    font-size: 18px;
}

.conteudo_receita p{
    line-height: 28px;
    color: #444444;
    font-size: 18px;
    margin-bottom: 25px;
}

/*Gerenciar Receitas - Admin */
.gerenciar-receitas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 30px;
    margin-bottom: 30px;
}

.gerenciar-receitas .card{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    
}

.img-gerenciar-receitas img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.detalhes-gerenciar-receitas{
    margin-left: 10px;
}

.detalhes-gerenciar-receitas .item div{
    padding: 4px;
    line-height: 18px;
}

.detalhes-gerenciar-receitas .item div:first-child{
    font-size: 18px;
}

.detalhes-gerenciar-receitas .item div:nth-child(2){
    font-size: 14px;
    color: #777777;
}

.detalhes-gerenciar-receitas .item div a{
    font-size: 14px;
    text-decoration: none;
    color: #6558c3;
}

/* Visualização da Receita */
.titulo-receita{
    position: relative;
    margin-bottom: 40px;
}

.titulo-receita h2{
    display: inline-block;
    padding: 4px 0px;
}

.titulo-receita .button{
    text-decoration: none;
    background-color: #6558C3;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 130px;
    box-sizing: border-box;
    padding: 8px 0;
    align-items: center;
    text-align: center;
    position: absolute;
    max-height: 100%;
    right: 0;
}
.imagem-receita{
    margin-bottom: 50px;
}

.imagem-receita img{
    width: 100%;
    border-radius: 8px;
    height: 280px;
}

.informacoes-receita{
    text-align: center;
}

.informacoes-receita h1{
    margin-bottom: 8px;
}

.informacoes-receita span{
    font-size: 18px;
    color: #777;
}

.detalhes-receita .item{
    margin: 30px 0;
}

.detalhes-receita .item div{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.detalhes-receita .item p, .item ul li{
    line-height: 30px;
    font-size: 16px;
    color: #444444;
}

.detalhes-receita .item ul li{
    list-style-type: none;
    list-style-position: inside;
}

.detalhes-receita .item ul > li:before{
    content: '-';
    margin-right: 10px;
}

/* Edição da receita */
#form-edit .item{
    margin-top: 30px;
}

#form-edit .item div{
    font-size: 16px;
    font-weight: bold;
}

#form-edit input, textarea{
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    width: 100%;
}

#form-edit .information{
    resize: none;
    line-height: 20px;
    width: 100%;
    height: 150px;
}

#form-edit button{
    background-color: unset;
    margin-top: 15px;
    color: #6558C3;
    font-weight: bold;
}

button:focus{
    outline: thin;
}