{% extends "components/layout-site.njk" %}
{% block content %}
    {% if recipes == "" %}
    <h2>Receita não encontrada</h2>
    {%else%}
    <div class="recipe-acessed">
        <h2>Buscando por "{{filter}}"</h2>
        <div class="cards-recipe-acessed">
            {% for recipe in recipes %}
            <div class="card-recipe-acessed">
                <a href="recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="imagem da receita {{recipe.title}}"></a>
                <div>{{recipe.title}}</div>
                <div>por {{recipe.author}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock content %}
