{% extends "components/layout-site.njk" %}
{% block search %}
    <div class="search">
        <form action="/filter" method="get" >
            <input type="text" name="filter" id="" placeholder="Buscar uma receita">
            <button type="submit" class="button">Buscar</button>
        </form>
    </div>
{% endblock search %}
{% block content %}
    <div class="banner-recipes">
        <div>
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
        </div>
        <div>
            <img src="/img/chef.png" alt="logo do chef">
        </div>
    </div>

    <div class="recipe-acessed">
        <h2>Mais acessadas</h2>
        <div class="cards-recipe-acessed">
            {% for recipe in recipes %}
            <div class="card-recipe-acessed">
                <a href="recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="imagem da receita {{recipe.title}}"></a>
                <div>{{recipe.title}}</div>
                <div>por {{recipe.author}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
