{% extends 'components/layout-site.njk' %}
{% block content %}
    <div class="recipe-acessed">
        <div class="cards-recipe-acessed">
            {% for recipe in recipes %}
            <div class="card-recipe-acessed">
                <a href="recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="imagem da receita {{recipe.title}}"></a>
                <div>{{recipe.title}}</div>
                <div>por {{recipe.author}}</div>
            </div>
            {% endfor %}
        </div>
    </div>   
{% endblock %}