{% extends "components/layout-admin.njk" %}
{% block content %}
    <div class="content-header">
        <h2>Criando receita</h2>
        <button form="form-create" type="submit" class="button">Salvar receita</button>
    </div>

    <form action="/admin/recipes" method="post" id="form-create" enctype="multipart/form-data">
        <div>
            {% include "admin/recipes/fields.njk" %}
        </div>
    </form>

{% include "components/utils.njk" %}
{% endblock %}