{% extends "components/layout-admin.njk" %}
{% block content %}
    <div class='content-header'>
        <h2>Gerenciar receitas</h2>
        <a href="/admin/recipes/create" class="button">Nova Receita</a>
    </div>

    <div class="cards cards-recipes">
        {% for recipe in recipes %}
        <div class="card">
            <section class="card-img-recipe">
                <img src="{{recipe.image}}" alt="imagem da receita {{recipe.title}}">
            </section>
            <section class="card-details">

                    <div>
                        {{recipe.title}}
                    </div>
                    <div>
                        por {{recipe.author}}
                    </div>
                    <div>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>

            </section>
        </div>
        {% endfor %}
    </div>
{% endblock %}