{% extends "components/layout-admin.njk" %}
{% block content %}
<div class="content-header">
    <h2>Receita: {{recipe.title}}</h2>
    <a href="/admin/recipes/{{recipe.id}}/edit" class="button">Editar Receita</a>
</div>
<section class="recipe-show-header">
    <img src="{{recipe.image}}" alt="imagem da receita {{recipe.title}}">
    <div class="recipe-galery">
        {% for image in recipe.images %}
            <img src="{image}" alt="">
            <h1>oi</h1>
        {% endfor %}
    </div>
    <h1>{{recipe.title}}</h1>
    <div>por {{recipe.author}}</div>
</section>
<section class="class-recipe-details">
    <div class="item">
        <h2>Ingredientes</h2>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="item">
        <h2>Modo de Preparo</h2>
        <ul>
            {% for preparation in recipe.preparation %}
                <li>{{preparation}}</li>
            {% endfor %}
        </ul>
        </div>
    {% if recipe.information != "" %}
    <div class="item">
        <h2>Informações adicionais</h2>
        <p>
            {{recipe.information}}
        </p>
    </div>
    {% endif %}
</section>
{% endblock %}